.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 10vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
h1,
p {
  color: white;
}
p {
  margin-bottom: 70px;
}
.learnbutton {
  border: 2px solid white;
  background-color: white;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 25px;
}
.learnbutton:hover {
  color: white;
}
.learnbutton1 {
  color: #e28525;
}
.learnbutton1:hover {
  background-color: #e28525;
}
.learnbutton2 {
  color: #016972;
}
.learnbutton2:hover {
  background-color: #016972;
}
.learnbutton3 {
  color: #01413f;
}
.learnbutton3:hover {
  background-color: #01413f;
}

.card {
  width: 250px;
  padding: 50px;
}
.card1 {
  background-color: #e28525;
  border-radius: 10px 0px 0px 10px;
}
.card2 {
  background-color: #016972;
}
.card3 {
  background-color: #01413f;
  border-radius: 0px 10px 10px 0px;
}
@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card1 {
    border-radius: 10px 10px 0px 0px;
  }
  .card3 {
    border-radius: 0px 0px 10px 10px;
  }
}
